body {
    padding: 0;
    margin: 0;
    background: #ffff;
}

/*--- navigation bar ---*/
.navbar {
    background:#65ddd3;
}
.nav-link,
.navbar-brand {
    color:#433520;
    font-size: 18pt;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    /* aligns the flexible container's 
    items when the items do not use all available space on the main-axis (horizontally)*/
    justify-content: flex-end;
}

#homePage{
  padding-top: 0em;
}
    
/* Footer */
.page-footer {
  background-color: #65ddd3;
  color: #433520;;
  padding: 30px 0 10px;
}
.footer-copyright {
  color: #433520;
  font-weight: bold;
  padding: 30px 0;
}