body {
    padding: 0;
    margin: 0;
    background: #ffff;
}
/*--- navigation bar ---*/
.navbar {
    background:#65ddd3;
}
.nav-link,
.navbar-brand {
    color:#433520;
    font-size: 18pt;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
  
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {   
    justify-content: flex-end;
}
#homePage{
  padding-top: 0em;
}
.reviews{
 color:rgb(212, 212, 63) ;
 text-align:center;
 padding: 5rem;
}
.card-group{
  margin: 10px 50px;
  padding: 0px ;
  position: relative;
}
.card {
    padding: 10px 90px;
}    
/* Footer */
.page-footer {
  background-color: #65ddd3;
  color: #433520;;
  padding: 30px 0 10px;
}
.footer-copyright {
  color: #433520;
  font-weight: bold;
  padding: 30px 0;
}